* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    padding: 3rem 0px 2rem 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    max-width: 81.25rem;
}